<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
<form  method="post" th:action="@{/changeUser}">
    <table>
        <tr>
            <td> ID: <input type="text", name="idChange" th:value="${idChange}"></td>
        <tr>
            <td>Name: <input type="text", name="nameChange" th:value="${nameChange}"></td>
        </tr>
        <tr>
            <td>Age: <input type="text", name="ageChange" th:value="${ageChange}"></td>
        </tr>
        <tr>
            <td>Login: <input type="text", name="loginChange" th:value="${loginChange}"></td>
        </tr>
        <tr>
            <td>Password: <input type="password", name="passwordChange" th:value="${passwordChange}"></td>
        </tr>
        </tr>
    </table>
    <input type="submit" value="Изменить">
</form>
</body>
</html>

<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title" id="editModalLabel">Edit User</h4>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--x-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form  method="post" th:action="@{/changeUser}">-->
                    <!--<table>-->
                        <!--<tr>-->
                            <!--<td> ID: <input type="text", name="idChange" th:value="${idChange}"></td>-->
                        <!--<tr>-->
                            <!--<td>Name: <input type="text", name="nameChange" th:value="${nameChange}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Age: <input type="text", name="ageChange" th:value="${ageChange}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Login: <input type="text", name="loginChange" th:value="${loginChange}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Password: <input type="password", name="passwordChange" th:value="${passwordChange}"></td>-->
                        <!--</tr>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <!--<input type="submit" value="Изменить">-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->