<html xmlns:th="">
<head>
    <base href = "/">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.css">
</head>
<body>
<div id = "container">
<div class="container-fluid">
    <div class="row" style="background: #000000; height: 30px">
        <div class="col-md-11">
            <h4 class="text-muted">CRUD Project</h4>
        </div>
        <div class="col-md-1">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти" class="btn btn-link btn-sm ">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
    </div>
</div>

    <div class="container-fluid">
<div class="row">
    <div class="col-1">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Admin</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">User</a>
        </div>
    </div>
    <div class="col-11">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h2 class="h2" style = "margin-top: 30px">Admin panel</h2>
                <div class="card card-default" style= "margin-top: 50px">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs pull-xs-left">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#myModal">
                                    New User
                                </a>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">New User</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    x
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form" th:action="@{/addUser}" th:object="${userAttribute}" method="post">
                                                    <div class="form-group">
                                                        <label for="name">имя:</label>
                                                        <input id="name" class="form-control" name="name" required type="text" placeholder="Ivan" th:field="*{name}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="age">возраст:</label>
                                                        <input id="age" class="form-control" name="age" required type="text" placeholder="19" th:field="*{age}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="login">логин:</label>
                                                        <input id="login" class="form-control" name="login" required type="text" placeholder="Invan99" th:field="*{login}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="password">пароль:</label>
                                                        <input id="password" class="form-control" name="password" required type="password" placeholder="****" th:field="*{password}">
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="enabled" th:field="*{enabled}" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1" >
                                                            true
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="enabled" th:field="*{enabled}" value="" id="defaultCheck">
                                                        <label class="form-check-label" for="defaultCheck" >
                                                            false
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <form role = "form" th:object="${roleAttribute}" >
                                                            <div class="form-group">
                                                                <label for="exampleFormControlSelect1">Role:</label>
                                                                <select class="form-control" id="exampleFormControlSelect1" name="role" th:field="*{nameRole}" >
                                                                    <option th:value="'USER'">USER</option>
                                                                    <option th:value="'ADMIN'">ADMIN</option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="form-group">
                                                                    <input type="submit" value="Save" class="btn btn-success"/>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-9">
                                        <table class="table table-striped">
                                         <thead>
                                             <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">Password</th>
                                                <th scope="col">delete</th>
                                                <th scope="col">Edit</th>
                                             </tr>
                                        </thead>
                                            <tbody id="showBody">
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                ...
            </div>

        </div>
    </div>
</div>
    </div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Edit User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group form-vales">
                        <label for="idChange">id:</label>
                        <input id="idChange" class="form-control" type="text" name="idChange" disabled>
                    </div>

                    <div class="form-group form-vales">
                        <label for="nameChange">имя:</label>
                        <input id="nameChange" class="form-control" type="text">
                    </div>

                    <div class="form-group form-vales">
                        <label for="ageChange">возраст:</label>
                        <input id ="ageChange" class="form-control" type="text">
                    </div>

                    <div class="form-group form-vales">
                        <label for="loginChange">логин:</label>
                        <input id = "loginChange" class="form-control" type="text">
                    </div>

                    <div class="form-group form-vales">
                        <label for="passwordChange">пароль:</label>
                        <input id = "passwordChange" class="form-control" type="password" >
                    </div>
                <div class="modal-footer">
                    <button id='save' class='btn btn-danger'> Save </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function() {


        assignDataToTable();

        $('table').on('click', 'button[id="edit"]', function(e) {
            var id = $(this).closest('tr').children('td:first').text();
            var name = $(this).closest('tr').children('td:nth-child(2)').text();
            var age = $(this).closest('tr').children('td:nth-child(3)').text();
            var login = $(this).closest('tr').children('td:nth-child(4)').text();
            var password = $(this).closest('tr').children('td:nth-child(5)').text();

            $("#idChange").val(id);
            $("#nameChange").val(name);
            $("#ageChange").val(age);
            $("#loginChange").val(login);
            $("#passwordChange").val(password);

            $('#save').click(function () {
                $.ajax ({
                    type : "POST",
                    url: "/changeUser",
                    data: {
                        idChange : $("#idChange").val(),
                        nameChange : $("#nameChange").val(),
                        ageChange: $("#ageChange").val(),
                        loginChange: $("#loginChange").val(),
                        passwordChange: $("#passwordChange").val(),
                    },

                    success: function(){
                        location.reload();
                    }
                });
            });
        });
        $('table').on('click', 'button[id="delete"]', function (e){
            var id = $(this).closest('tr').children('td:first').text();
            $.ajax ({
                type: "GET",
                url: "/removeUser/" + id,
                success: function(){
                    assignDataToTable()
                }
            })
        });

        function assignDataToTable() {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/list",
                typeDate: "json",
                success: function(data) {

                    var users = JSON.parse(JSON.stringify(data));
                    for (var i in users)  {
                        $("tbody").
                        append("<tr> \
                            <td>" +  users[i].id + "</td> \
                            <td>" +  users[i].name + "</td> \
                            <td>" +  users[i].age + "</td> \
                            <td>" +  users[i].login + "</td> \
                            <td>" +  users[i].password + "</td> \
                            <td> \ <button id='delete' class='btn btn-danger'>delete</button> \</td> \
                          <td> \ <button id='edit' class='btn btn-warning' data-toggle='modal' data-target='#EditModal' >Edit</button> \ </td> \
                        </tr>");
                    }
                },
            });
        }
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>